# Mandatory settings are described below
#   you also can use environmental settings `config/settings/#{environment}.yml`

rails:
  secret_key_base: some_key

database:
  adapter: postgresql
  host: localhost
  port: 5432
  username: ates_tasks
  database: ates_tasks
  encoding: unicode

application:
  id:     some_uid_from_oauth__applications
  secret: some_secret_key_from_oauth_applications

karafka:
  admin:    admin
  password: password

