database:
  adapter: postgresql
  host: localhost
  port: 5433
  username: ates_tasks
  database: ates_tasks
  encoding: unicode

application:
  id:     some_uid_from_oauth__applications
  secret: some_secret_key_from_oauth_applications

oauth:
  host: http://localhost:3000

karafka:
  admin:    admin
  password: password

