database:
  adapter: postgresql
  host: localhost
  port: 5433
  username: ates_tasks
  database: ates_tasks
  encoding: unicode

application:
  id:     some_uid_from_oauth__applications
  secret: some_secret_key_from_oauth_applications

oauth:
  host: http://localhost:3000

kafka:
  host: http://localhost:9092

karafka:
  admin:    admin
  password: password
  web_ui_secret: your_very_secret_string

clickhouse:
  scheme: http
  host: clickhouse
  port: 8123
  database: task
  user: user
  password: password
